#preloader{
    position: fixed;
    inset: 0;
    z-index:999999;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.6s ease-out;
}
#preloader::before{
    content: '';
    position: fixed;
    top:calc(50% - 30px);
    left:calc(50% - 30px);
    border: 6px solid #fff;
    border-color: #008374 transparent #008374 transparent;
    border-radius: 50%;
    width: 60px;    
    height: 60px;
    animation: loading 3s ease-in-out infinite;
}
@keyframes loading{
    100%{
        transform: rotate(1080deg);
    }
}
#greenPopup, #redPopup{
    width: 400px; 
    height: 80px; 
    position: absolute;
    right:1%;
    bottom: 1%;
    z-index: 500;
}
#redPopup .bg, #greenPopup .bg{
    width: 400px; 
    height: 80px; 
    position: absolute; 
    border-radius: 18px; 
}
#greenPopup .kotak, #redPopup .kotak{
    width: 50px; 
    height: 50px; 
    left: 5%; 
    top:50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;
}
#greenPopup .kotak .bunder1, #redPopup .kotak .bunder1{
    width: 25px; 
    height: 25px; 
    position: absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
#greenPopup .kotak .icon {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    display: inline-block; 
    position: relative; 
}
#greenPopup .kotak .icon img {
    width: 100%;
    height: 100%; 
}
#redPopup .kotak span{
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute; 
    font-size: 25px; 
    font-family: Inter; 
    font-weight: 400; 
}
#greenPopup .closePopup, #redPopup .closePopup{
    right: 5%; 
    top: 50%;
    transform: translateY(-50%); 
    position: absolute; 
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
#greenPopup label,#redPopup label{
    left: 22%;
    top:50%;
    width:65%;
    transform: translateY(-50%);
    position: absolute; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    line-height: 30px; 
    word-break: keep-all;
    white-space: normal;
}
#redPopup .bg{
    background: #FFE1E1; 
}
#redPopup .kotak{
    background: #FFBBBB; 
}
#redPopup .bg, #redPopup .kotak .bunder1{
    border: 2px #FF0000 solid;
}
#redPopup .kotak span, #redPopup .closePopup, #redPopup label{
    color:#FF0000;
}
#greenPopup .bg{
    background: #ECFFEB; 
}
#greenPopup .kotak{
    background: #bcffb7; 
}
#greenPopup .bg, #greenPopup .kotak .bunder1{
    border: 2px #01B701 solid;
}
#greenPopup .kotak span, #greenPopup .closePopup, #greenPopup label{
    color:#01B701;
}
@media (min-width: 700px) and (max-width: 1000px) {
    #greenPopup, #greenPopup .bg, #redPopup, #redPopup .bg{
        width: 350px;
        height:80px;
    }
    #greenPopup .bg, #redPopup .bg{
        border-radius: 15px; 
    }
    #greenPopup .kotak, #redPopup .kotak{
        width: 44px;
        height: 44px;
    }
    #greenPopp .kotak .bunder1, #redPopup .kotak .bunder1{
        width: 22px;
        height: 22px;
        border-width: 2px;
    }
    #greenPopup .kotak .icon{
        width: 13px;
        height: 13px;
        top:35%;
    }
    #redPopup .kotak span{
        font-size: 20px;
    }
    #greenPopup .closePopup, #redPopup .closePopup{
        font-size: 20px;
    }
    #greenPopup label, #redPopup label{
        line-height: 27px;
        font-size: 19px;
    }
}
@media (min-width:500px) and (max-width:700px){
    #greenPopup, #greenPopup .bg, #redPopup, #redPopup .bg{
        width: 300px;
        height:70px;
    }
    #greenPopup .bg, #redPopup .bg{
        border-radius: 15px; 
        border-width: 1px;
    }
    #greenPopup .kotak, #redPopup .kotak{
        width: 40px;
        height: 40px;
    }
    #greenPopup .kotak .bunder1, #redPopup .kotak .bunder1{
        width: 20px;
        height: 20px;
        border-width: 2px;
    }
    #greenPopup .kotak .icon{
        width: 11px;
        height: 11px;
        top:30%;
    }
    #redPopup .kotak span{
        font-size: 18px;
    }
    #greenPopup .closePopup, #redPopup .closePopup{
        font-size: 18px;
    }
    #greenPopup label, #redPopup label{
        line-height: 20px;
        font-size: 16px;
    }
}
@media (max-width:500px){
    #greenPopup, #greenPopup .bg, #redPopup, #redPopup .bg{
        width: 200px;
        height:50px;
    }
    #greenPopup .bg, #redPopup .bg{
        border-radius: 12px; 
        border-width: 1px;
    }
    #greenPopup .kotak, #redPopup .kotak{
        width: 30px;
        height: 30px;
    }
    #greenPopup .kotak .bunder1, #redPopup .kotak .bunder1{
        width: 15px;
        height: 15px;
        border-width: 1px;
    }
    #greenPopup .kotak .icon{
        width: 8px;
        height: 8px;
        top:20%;
    }
    #redPopup .kotak span{
        font-size: 15px;
    }
    #greenPopup .closePopup, #redPopup .closePopup{
        font-size: 15px;
    }
    #greenPopup label, #redPopup label{
        line-height: 13px;
        font-size: 12px;
    }
}
.fade-out {
    animation: fadeOut 0.75s ease forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}